{% extends 'base.html' %}


{% block content %}
<div>
    <h3>{{ pet.name }}</h3>
<img src="{{pet.photo_url}}" alt="">
    <p>{{ pet.age }}</p>
    <p>{{ pet.species }}</p>
    

</div>


<p>Edit Pet Information:</p>

<form id="edit_pet" method="POST">
    {{ form.hidden_tag() }}
    
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{field }}
    
        {% for error in field.errors %}
            {{ error}}
        {% endfor %}
    </p>
    
    {% endfor %}
    
    <button type='submit'>Submit</button>
    
    </form>
{% endblock %}
